.grid{
    display: grid;
    grid-template-areas: 
    'h h h h h h h'
    'h h h h h h h'
    'c c c c c c c'
    'c c c c c c c'
    'f f f f f f f'
    'f f f f f f f'
    ;
    grid-template-columns: repeat(7,1fr);
    grid-auto-rows: minmax(100px,auto);
    width: 100%;
    margin: auto;
}
body{
    background-image: url(abstrack_backhround_blue__generated.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    color: black;
    font-size: 6vw;
    text-align: left;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: bold;
  
}
.header{
    grid-area: h;
    margin: auto;
    text-align: center;
    width: 100%;
    margin-bottom: 10%;
    z-index: 2;
}

.container{
    grid-area: c;
}
.container,.footer{
    width: 90%;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}
.footer{
    grid-area: f;
}
button{
    background-color: black;
}
#film_nev, #search{
    position: fixed;
    top: 0px;
}
#flex{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: row;
    height: auto;
    width: 100%;
    border-radius: 10px;
    
}
#film_nev{
    position: fixed;
    z-index: 1;
    width: 20%;
    transform: translate(75vw, 5vh);
    top: 0px;
}
.card{
    width: 20%;
    margin: 2%;
}
#nincs{
    border: 2px solid black;
    text-align: center;
    width: 40%;
    font-size: 1vw;
    border-radius: 5px;
    padding: 1%;
    display: none;
}
#nincs > img{
    width: 30%;
    height: 60%;
}    
#popup{
    position: absolute;
    width: 100%;
    height: 100%;
    background: gray;
    opacity: 0.9;
    z-index: 3;
    display: none;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}
#szoveg{
    background-color: white;
    text-align: center;
    text-justify: auto;
    padding: 5%;
    text-overflow: clip;
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    border: 3px dotted black;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    /* align-content: space-evenly; */
}

#close{
    color: white;
    align-self: baseline;
    transform: translate(80vw, 1vw);
    border: 2px solid transparent;
    padding: 1vw;
}
#close:hover{
    cursor: pointer;
    border: 2px solid white;
}
#filmLista{
    width: 90%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    /* align-self: flex-start; */
    overflow-x: hidden;
    height: 100%;
    background-color: white;
}
#filmlista > div{
    width: 10%;
}
#filmlista > img{
    width: 50%;
}
#tudnivalok{
    /* border: 2px solid black; */
    width: 50%;
    height: 40%;
    position: relative;
    padding: 1%;
}
.card-text{
    cursor: pointer;
    font-weight: bold;
}
.container{
    height: auto;
    border: 6px solid black;
    border-radius: 10px;
}
.card{
    box-shadow: 10px 10px 5px;
    width: 20%;
    margin: 2%;
}
.container-fluid{
    position: fixed;
    background-image: linear-gradient(to bottom, rgb(170,170,170),rgba(255, 255, 255, 0.5));
    top: 0px;
}
@media(max-width: 900px) {
    .header {
      margin-bottom: 10vw;
    }
    #filmLista{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 70%;
    }
  }
@media (max-width: 500px){
    #szoveg{
        font-size: 4vw;
    }
}
 * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle; border: 7px solid black ;border-radius: 10px;} 

/* Slideshow container */
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
  padding-top: 5vh;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

  .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  background-color: #fff;
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.bg-body-tertiary{
    background-color: transparent;
}